@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: lavender;
}

body {
    min-width: 850px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/*  -----  Description Style  -----  */

.detailed_description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;

    padding: 2vh 10vw;

    z-index: 1;
}

.description {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 5px;

    height: auto;
    background: linear-gradient(90deg,
        rgba(155, 12, 169, .7) 0%, rgba(23, 9, 157, .7) 100%);

    width: -webkit-fill-available;
}
.description p:nth-child(1) {
    margin: 0 145px;

    text-align: center;
    overflow-wrap: anywhere;
}
.description p:nth-child(2) {
    position: absolute;

    width: 140px;
    left: 10px;
    
    border-right: 1px solid rgb(118 226 236 / 0.3);
}