@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Josefin Sans', sans-serif;
    color: lavender;
}

body {
	min-width: 850px;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

/*  -----  Syle Hat  -----  */

.menu {
	display: flex;

    background: linear-gradient(45deg,
    	rgba(155, 12, 169, .7) 0%, rgba(23, 9, 157, .7) 100%);

	border-bottom: 1px solid rgb(118 226 236 / 0.3);
}

.menu button {
	cursor: pointer;

	display: flex;
    align-items: center;
    justify-content: center;

	margin: 2.5px auto;

    width: 125px;
    height: 25px;

	border: 1px solid rgb(118 226 236 / 0.3);
	border-radius: 5%;

    background-image: repeating-linear-gradient(45deg,
    	rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .1) 1px, transparent 1px, transparent 10px);
	background-size: 28px 28px;
	background-color: rgba(0, 0, 0, 0);
}

.menu I {
	font-size: x-large;
}

/*  -----  Backgroud Content  -----  */

@keyframes backgroundOpasity {
	0% {opacity: 0;}
	10% {opacity: 1;}
	30% {opacity: 1;}
	40% {opacity: 0;}
	100% {opacity: 0;}
}

.backgroundStyle {
	position: fixed;

	width: 100%;
	height: 100%;

    background-position: center;
	background-size: cover;
	background-attachment: fixed;	

	opacity: 0;

	animation: backgroundOpasity 40s infinite;

	z-index: -1;
}

#backgroundImageOne {
	background-image: url(../img/background/background_0.webp);

	opacity: 0;
}
#backgroundImageTwo {
	background-image: url(../img/background/background_1.webp);

	animation-delay: 10s
}
#backgroundImageThree {
	background-image: url(../img/background/background_2.webp);

	animation-delay: 20s
}
#backgroundImageFour {
	background-image: url(../img/background/background_3.webp);

	animation-delay: 30s;
}

/*  -----  Back Style  -----  */

.backPanel {
	cursor: pointer;

	display: grid;

	position: fixed;

	opacity: 0;

	width: 5vw;

	left: 0;
    top: 31px;
    bottom: 51px;

	background-color: rgba(0, 0, 0, 0.5);
}
.backPanel:hover {
	opacity: 75%;
}
.backPanel i {
	font-size: xx-large;
}
.backPanel a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

}

/*  -----  Scroller Style  -----  */

.scrollPanel {
	cursor: pointer;

	position: fixed;

	display: grid;
    justify-items: center;
    align-content: center;

	width: 5vw;
	right: 0;
    top: 0;
    bottom: 51px;

	background-color: rgba(0, 0, 0, 0.5);
}
.hide {
	display: none;
}
.visible {
	display: grid;
}
.scrollPanel i {
	font-size: xxx-large;
}

/*  -----  Style Content  -----  */

.content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: stretch;

	padding: 2vh 10vw;

	z-index: 1;
}

.content_style {
    display: flex;
    flex-direction: column;
    align-items: center;

	font-size: 16px;
}
.content_style li {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;

    width: -webkit-fill-available;

	border-top: 1px solid rgb(118 226 236 / 0.3);
}
.content_style a {
	width: inherit;
}
.content_style p:nth-child(1) {
    position: absolute;

    width: 140px;
    left: 10px;

    border-right: 1px solid rgb(118 226 236 / 0.3);
}
.content_style p:nth-child(2) {
	margin: 0 145px;

	text-align: center;
    overflow-wrap: anywhere;
}

.blockHeader {
    position: relative;

	padding: 0.5vw 5px;

    text-align: center;

    background: linear-gradient(90deg,
    	rgba(155, 12, 169, .7) 0%, rgba(23, 9, 157, .7) 100%);
}
.blockHeader button {
	cursor: pointer;

	display: flex;
    align-items: center;
    justify-content: center;

	margin: 0 auto;

    width: 125px;
    height: 25px;

	border: 1px solid rgb(118 226 236 / 0.3);
	border-radius: 5%;
    
    background-image: repeating-linear-gradient(45deg,
    	rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .1) 1px, transparent 1px, transparent 10px);
	background-size: 28px 28px;
	background-color: rgba(0, 0, 0, 0);
}

.container {
	margin: 0 0 1vw 0;
}

.list {
	height: auto;

	background: linear-gradient(90deg,
    	rgba(155, 12, 169, .7) 0%, rgba(23, 9, 157, .7) 100%);
}

.borders {
	border: 1px solid rgb(118 226 236 / 0.3);
}

/*  -----  Foot Syle  -----  */

.spanFoot {
    height: 51px;
}

.foot {
	position: fixed;

	display: flex;
    place-content: center;
    align-items: center;

	height: 50px;
	left: 0;
	bottom: 0;
	right: 0;

    background: linear-gradient(45deg, rgba(155, 12, 169, .7) 0%, rgba(23, 9, 157, .7) 100%);
    border-top: 1px solid rgb(118 226 236 / 0.3);
}
.foot button {
	cursor: default;

	margin: 0 20px;

	background: none;

    border: none;
}
.foot i {
	cursor: pointer;

    padding: 5px;

    width: 32px;

    border: 1px solid rgb(118 226 236 / 0.3);
    border-radius: 50%;

    color: #89dbf8;

    box-shadow: inset 0px 0px 10px 0px rgb(255 255 255);

	font-size: xx-large;
}