@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    
    font-family: 'Josefin Sans', sans-serif;
    color: lavender;
}

body {
    min-width: 850px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/*  -----  Profile Style  -----  */

.profiles {
    display: grid;

    justify-content: space-evenly;

    margin: 2vh 10vw;
}

.block {
    display: grid;

    grid-template-areas:
        "I I I I N N N N"
        "I I I I D D D D"
        "I I I I D D D D"
        "I I I I D D D D"
        "S S S S S S S S"
        "S S S S S S S S"
        "S S S S S S S S"
        "S S S S S S S S";

    width: fit-content;
    min-width: 606px;
    height: fit-content;
    min-height: 608px;
    
    border-radius: 5%;
    background: linear-gradient(
        45deg, rgba(155, 12, 169, .7) 0%, rgba(23, 9, 157, .7) 100%);
}

.imgage {
    grid-area: I;

    width: 250px;
    height: 250px;

    margin: 25px;

    border-radius: 15%;

    background: url(../img/profile/sZ3vzNOBaN8.jpg) no-repeat;
    background-size: contain;
}

.nickname{
    grid-area: N;

    width: 250px;
    height: 50px;

    margin: 25px;

    font-size: 2.6em;
}
.nickname p {
    display: flex;

    height: inherit;

    justify-content: center;
    align-items: flex-end;
}

.discriptions {
    grid-area: D;

    width: 250px;
    height: 150px;

    margin: 25px;
    
    border-radius: 5%;

    font-size: 1.2em;
}
.discriptions p {
    display: flex;

    height: inherit;

    text-align: center;
    align-items: center;
}

.skills {
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(4, 1fr);
    grid-area: S;

    width: 550px;
    height: 250px;

    margin: 25px;
    
    border-radius: 5%;
}
.skills div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    text-align: center;
    align-self: center;
}
.skills div:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    text-align: center;
    align-self: center;
}
.skills div:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    text-align: center;
    align-self: center;
}
.skills div:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    text-align: center;
    align-self: center;
}
.skills div:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    text-align: center;
    align-self: center;
}
.skills div:nth-child(6){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

    text-align: center;
    align-self: center;
}
.skills div:nth-child(7){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;

    text-align: center;
    align-self: center;
}
.skills i {
    display: flex;
    justify-content: center;

    color: #e86c6c;
}