@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Josefin Sans', sans-serif;
    color: lavender;
}

body {
    min-width: 850px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/*  -----  Content Style  -----  */

.projects {
    position: absolute;

    display: grid;
    justify-items: stretch;
    align-items: stretch;

    top: 31px;
    right: 0;
    bottom: 51px;
    left: 0;

    margin: 5vw 15vw;

    min-width: 650px;
    min-height: 300px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 20px;
}
.projects  button {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(118 226 236 / 0.3);
    border-radius: 5%;

    background-position: center;
    background-size: cover;
}
.projects button:nth-child(1) {
    background-image: url(../img/project/games_logo.jpg);
}
.projects button:nth-child(2) {
    background-image: url(../img/project/site_logo.jpg);
}
.projects button:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;

    background-image: url(../img/project/ue4_logo.jpg);
}

/*  -----  Text Style  -----  */

@keyframes neonText {
    0%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    45%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    47%{
        color: #89dbf8;
        text-shadow: 0 0 6px #89dbf8,0 0 10px #89dbf8,0 0 50px #79a7fc;
    }
    49%{color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    51%{
        color: #89dbf8;
        text-shadow: 0 0 6px #89dbf8,0 0 10px #89dbf8,0 0 50px #79a7fc;
    }
    53%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    55%{
        color: #89dbf8;
        text-shadow: 0 0 6px #89dbf8,0 0 10px #89dbf8,0 0 50px #79a7fc;
    }
    100%{
        color: #89dbf8;
        text-shadow: 0 0 6px #89dbf8,0 0 10px #89dbf8,0 0 50px #79a7fc;
    }
}
@keyframes neonFlicker {
    0%{
        color: #89dbf8;
        text-shadow: 0 0 6px #89dbf8,0 0 10px #89dbf8,0 0 50px #79a7fc;
    }
    48%{
        color: #89dbf8;
        text-shadow: 0 0 6px #89dbf8,0 0 10px #89dbf8,0 0 50px #79a7fc;
    }
    50%{
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }
    52%{
        color: #89dbf8;
        text-shadow: 0 0 6px #89dbf8,0 0 10px #89dbf8,0 0 50px #79a7fc;
    }
    100%{
        color: #89dbf8;
        text-shadow: 0 0 6px #89dbf8,0 0 10px #89dbf8,0 0 50px #79a7fc;
    }
}

.start {
    font-size: 8vw;

    color: #89dbf8;

    animation: neonText 5s;
    animation: neonFlicker 5s infinite;
}

.stop {
    font-size: 8vw;

    color: #0b3960;
    
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    animation: neonText 5s reverse;
}